<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-onyx"
        version="5.0.1">
    <name>Onyx</name>
    <description>Cordova plugin to use Onyx</description>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,android,ios,iphone,fingerprint,authentication,touchless,onyx</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/OnyxPlugin.js" name="onyx">
        <clobbers target="navigator.onyx" />
    </js-module>

    <js-module src="www/OnyxConstants.js" name="Onyx">
        <clobbers target="Onyx" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OnyxPlugin" >
                <param name="android-package" value="com.dft.cordova.plugin.onyx.OnyxPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.dft.cordova.plugin.onyx.OnyxActivity" />
        </config-file>
        <source-file src="src/android/OnyxPlugin.java" target-dir="src/com/dft/cordova/plugin/onyx" />
        <source-file src="src/android/OnyxActivity.java" target-dir="src/com/dft/cordova/plugin/onyx" />
        <source-file src="src/android/OnyxMatch.java" target-dir="src/com/dft/cordova/plugin/onyx"/>
        <source-file src="build-extras.gradle" target-dir="." />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OnyxPlugin">
                <param name="ios-package" value="CDVOnyxPlugin"/>
            </feature>
        </config-file>
        <config-file platform="ios" target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>This application will use your phone's camera to take capture an image of your fingerprint.</string>
        </config-file>

        <header-file src="src/ios/CDVOnyxPlugin.h"/>
        <source-file src="src/ios/CDVOnyxPlugin.mm"/>
        <framework src="OnyxCamera" type="podspec" spec="~> 5.0.0" />
    </platform>

</plugin>